body {
    font-family: Arial, sans-serif;
    background-color: #E4F5FC; /* Light blue background */
    color: #333; /* Dark text color */
    text-align: center;
    /* padding: 10px; */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFFFFF; /* White container background */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Added box shadow */
    padding: 20px;
}

h1 {
    color: #3498DB; /* Light blue heading text */
}

.converter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin: 5px 0;
    color: #666; /* Slightly darker gray label text */
}

input {
    width: 100%;
    padding: 2px;
    border: 1px solid #BBB;
     /* Light gray border */
    border-radius: 4px;
    background-color: #EBF5FB; /* Light blue input background */
    /* color: #333;  */
    font-weight: 700;
    font-size: 50px;
    box-shadow: 0px 1px 1px 0px
}